<!DOCTYPE html>
<html>
  <head>
    <title>ContactList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
    </div>  

    <div class="container">
    
        <%= render 'layouts/footer' %>
    </div>  

    
     

=======
    <%= yield %>
>>>>>>> 636376eb6325e3caa52220c91f8c2e974c1905bb
  </body>
</html>
